<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Complication - TipCalc WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Glance - TipCalc WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - TipCalc WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TipCalc WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TipCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31BC31F21BBF6CB70022FE16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31BC32061BBF6CB80022FE16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31BC32111BBF6CB80022FE16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31BC321A1BBF6CB80022FE16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31BC32291BBF6CB80022FE16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
